.Button {
  font-size: 1.2rem;
  align-self: center;
  border-radius: 50px;
  border-color: transparent;
  padding: 5px 10px;
  min-width: 80px;
  margin: 0 10px;
}

.Button:hover {
  border: 2px solid #008542;
  padding: 4px 10px;
}
  
.Button:hover:active {
  background-color: #008542 !important;
}
  
.Button:active {
  background-color: #008542 !important;
}
  
.Button:focus {
  background-color: #008542;
}

/* Wide Button mainly used for sign up / sign in */
.Wide {
  margin: 0;
  width: 100%;
}

/* Generic Green Button used throughout the Page */
.Green {
  background-color: #008542;
  color: #ffffff;
}
  
.Green:hover {
  background-color: #ffffff;
  color: #008542;
}

/* Light Green Button used for Unfollow */
.Lightgreen {
  background-color: #ffffff;
  color: #008542;
  border: 2px solid #008542;
}
  
.Lightgreen:hover {
  background-color: #008542;
  color: #ffffff;
}
