/* Searchbar CSS Styles */

.SearchBar input {
  border-radius: 20px;
  color: #008542;
  padding-left: 40px;
  margin-bottom: 16px;
  border: 3px solid #008542;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 10px;
  padding-left: 15px;
}
  
.SearchIcon:hover {
  cursor: default;
  color: #008542;
}

.SearchBar input:focus {
    border-color: #008542;
    outline: none;
    box-shadow: none;
  }