.Issue {
  background-color: #ffffff;
  border: 3px solid #00a652;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}
  
.Overdue {
  font-family: "Oswald", sans-serif;
  color: #cc2222;
  font-size: 1.5rem;
  padding: 0;
}

.Buttonspacer {
  width: 120px;
}

.Title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.Cardimage {
  padding: 10px;
}

.Informationspacer {
  padding: 15px;
}

.Journalspacer {
  margin-top: 15px;
}