.App {
    font-family: "Oswald", sans-serif;
    background-color: #c5dbc2;
    min-height: 100vh;
  }

/* Slides the Page below the Always on top Navbar.
The Gap to the Navbar is higher on low res and Desktop
Displays to not conflict with an in-between Tablet 
Resolution. */
.Main {
    padding-top: 115px;
}

/* Content Background and Border */
.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 3px solid #008542;
}

/* Make Image fit and not overflow */
.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

/* Input Fields */
.Input {
  background: #ffffff;
  border: 2px solid #008542;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1.2rem;
  color: #bec9c9;
  text-align: center;
  padding: 15px;
}
  
.Input:focus {
  border-color: #008542;
  outline: none;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

/* Links */
a {
  color: #677979;
  transition: color ease-in-out 0.3s;
}
  
a:hover {
  color: #008542;
  text-decoration: none;
}
  
a:hover i {
  color: #008542;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

/* Fontawesome */
i {
  color: #bec9c9;
  font-size: 2rem;
  padding: 8px;
  vertical-align: middle;
}
  
i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #008542;
}

figure {
  text-align: center;
  display: inline-block;
}

/* A nicer Scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #e5e5e5;
}
*::-webkit-scrollbar-thumb {
  background: #999;
}
*::-webkit-scrollbar-thumb:hover {
  background: #008542;
}